/**
 * root styles
 */
:root {
    --black: #000;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3 {
    margin: 0 0 24px;
    line-height: 1.3;
    font-family: 'Oswald', sans-serif;
}
/* end root styles */


/**
 * utilities
 */
.wrapper {
    width: auto;
    max-width: 1280px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}
/* end utilities */


/**
 * header
 */
.header {
    padding: 20px 5%;
    text-align: center;

}

.header .wrapper {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--black);

}

.header h1 {
    margin: 0;
    text-transform: uppercase;
}
/* end header */