/**
 * root styles
 */
:root {
    --black: #000;
    --white: #fff;
    --font-color: var(--black);
    --brand-color-01: var(--black);
    --brand-color-02: var(--white);
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

p {
    margin: 0 0 24px;
    line-height: 1.3;
}

h1,
h2,
h3 {
    margin: 0 0 24px;
    line-height: 1.3;
    font-family: 'Oswald', sans-serif;
}

strong {
    font-weight: 500;
}
/* end root styles */


/**
 * utilities
 */
.wrapper {
    width: auto;
    max-width: 1280px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}

.btn {
    display: block;
    padding: 8px 20px;
    border: 1px solid var(--brand-color-01);
    background-color: transparent;
    transition: .3s;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--brand-color-01);
    color: var(--brand-color-02);
}
/* end utilities */


/**
 * header
 */
.header {
    padding: 20px 5%;
    text-align: center;

}

.header .wrapper {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--brand-color-01);

}

.header h1 {
    margin: 0;
    text-transform: uppercase;
}
/* end header */


/**
 * results listing
 */
.results {
    padding: 20px 5%;
}

.results__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}
/* end results listing */


/**
 * card
 */
.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    transition: .3s;
    color: var(--font-color);
    border: 1px solid var(--brand-color-01);
}

.card:hover {
    box-shadow: 5px 10px 16px #999;
}

.card__image {
    margin-bottom: 16px;
    padding: 20px 20px 0 20px;
}

.card__image img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.card__title {
    padding: 0 20px;
    margin-bottom: 16px;
    font-size: 20px;
}

.card__tagline {
    padding: 0 20px;
    margin-bottom: 16px;
}

.card__details {
    margin-top: auto;
}

.card__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 0 16px;
    list-style: none;
}

.card__list li {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card__list li:first-child:after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 20px;
    width: 1px;
    display: block;
    background-color: var(--brand-color-01);
    content: '';
}

.card__link {
    display: block;
    padding: 12px 0;
    border-top: 1px solid var(--brand-color-01);
    transition: .3s;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.card:hover .card__link {
    background-color: var(--brand-color-01);
    color: var(--brand-color-02);
}
/* end card */


/**
 * pagination
 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.pagination span {
    margin: 0 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
/* end pagination */


/**
 * beer single
 */
.beer__single {
    padding: 30px 5%;
}

.beer__single .wrapper {
    max-width: 1024px;
}

.beer__single__content {
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-gap: 80px;
}

.beer__single__image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.beer__single__title {
    margin: 0 0 10px;
}

.beer__single__tagline {
    font-style: italic;
}

.beer__single__meta {
    margin: 0 0 24px;
    padding: 0 0 0 16px;
}

@media only screen and (max-width: 600px) {
    .beer__single__content {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .beer__single__image img {
        max-height: 300px;
    }
}
/* end beer single */